{%  extends  "appform/index.html" %} <!-- insere esse bloco no template index.html-->
{% block content %}


<div id="Page_consulta" class="tabcontent"  style=" height:  100% ;">

  <div id="map"  style=" height:  100% ; width: 70%; float:left;" >
  </div>
  <div id = "form"  style=" height:  100% ; width: 30%; float:right; background-color: #a6a6a6 ">
    {% include "appform/formulario.html" %} <!-- insere o template formulario.html aqui-->
    {% block add_dog %}
    {% endblock %}
  </div>
</div>

<div id="Page_mapa" class="tabcontent">


  {% include "appform/apresenta.html" %}
  {% block apresenta %}
  {% endblock %}



</div>
{% endblock %}
